%header{role: "banner"}
  .header-inner
    .header-global
      %mark
        %a{href: "/index.html", style: "display: inline-block"}
          %img{src: "assets/img/matsuri_neko_black.png", height: "40px", style: "pointer-events: none;", width: "136px", id: "matsuri-logo"}
      %nav
        %ul
          %li
            %a{href: "/index.html#section-detail"}
              Detail
          %li
            %a{href: "/index.html#section-time-table"}
              Time Table
          %li
            %a{href: "/index.html#section-speaker"}
              Speaker
          %li
            %a{href: "/index.html#section-lt"}
              LT
          %li
            %a{href: "/index.html#section-team"}
              Team
    .kv-box
      .kv-text
        %h1
          %object{data: "assets/img/white_logo.png", object: "", style: "pointer-events: none;"}
        %h2
          Thursday, July 5th at 7:00pm (6:45pm door open)
        .bt-box
          %a{href: "https://www.skipaas.com/tenants/39/mypage", class: "kv-btn-registration", target: "_blank", target: "_blank"}
            %span Register
      %img{src: "assets/img/matsuri_neko_black.png", alt: "Matsuri Neko Image", class: "kv-matsurineko"}
