%p.sns
  %span.fb-like{"data-font" => "arial", "data-href" => "http://doyomeki.github.io/matsuri3/", "data-layout" => "button_count", "data-send" => "true","data-action" => "like", "data-show-faces" => "false", "data-width" => "460"}
  %a.twitter-share-button{"data-text" =>"TISMatsuri Vol.3開催!!!", "data-hashtags" => "TISMatsuri", "data-url" => "http://doyomeki.github.io/matsuri3/", :href => "https://twitter.com/share"}
    Tweet
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
